.image-holder {
    background-image: url("../../assests/images/avatar.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* animation: bounce 2s linear infinite; */
    /* position: relative;
    z-index: 0; */
  }


  /* @keyframes bounce {
    from {
        transform: translateY(30px);
    }to {
        transform: translateY(0px);
    }
  } */